<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-inner">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jt-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">葛洲坝的孩子们</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse no-transition" id="jt-nav">
        <ul class="nav navbar-nav">
          <li>
            <a href="/contact">Contact</a>
          </li>
          <!--li>
            <a href="about.html">About</a>
          </li-->
        </ul>
        <!--
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="pull-left" href="https://github.com/xingbo/geliuzhong/">
              <i class="fa fa-github fa-lg"></i>
            </a>
          </li>
        </ul>
        -->
      </div><!-- /.navbar-collapse -->
    </div>
  </div>
</nav>
